section.hero-section.myaccount-hero {
    height: 100vh;
}
section.footer-nonav {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/*
Login modal */
.account-modal-wrapper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.account-modal-wrapper .modal-dialog {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.account-modal-wrapper .modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
.fadeIn {
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fadeIn.in {
  opacity: 1;
}