/*
** Hero
------------------------*/
.hero-section {
	background-image: url(../images/templates/search/hero.jpg);
}
.hero-section.search-hero {
	background-image: url(../images/templates/search/search-hero.jpg);
}
.hero-section.search-hero .hero-content-outer {
  height: 640px;
}
.attraction-pagination a {
	background-color: #019e59;
	color: #fff;
}

@media(min-width: 768px) {
	.hero-section.search-hero .hero-content h1 {
		font-size: 36px;
	}
}
