.tif-header.tif-header-white {
  border-bottom: none;
}
.blog-menu {
  background-color: #eee;
}
.blog-menu ul {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
}
.blog-menu ul > li {
    float: left;
    line-height: 1;
    width: 20%;
    text-align: center;
}
.blog-menu ul > li > a {
    display: block;
    color: #22293f;
    text-decoration: none;
    padding: 24px 15px 30px 15px;
    line-height: 1;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.blog-menu ul > li > a:hover {
  background-color: #fff;
}
.blog-menu ul > li > a > span {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 15px;
}
.blog-menu ul > li > a > span:after {
  content: "";
  background-color: #000;
  height: 6px;
  display: block;
}
.blog-menu ul > li > a > span.cat-lightblue:after { background-color: #0082cb }
.blog-menu ul > li > a > span.cat-red:after { background-color: #f55735 }
.blog-menu ul > li > a > span.cat-blue:after { background-color: #005687 }
.blog-menu ul > li > a > span.cat-green:after { background-color: #019e59 }
.blog-menu ul > li > a > span.cat-orange:after { background-color: #fea61a }

.blog-section {
  background-color: #f7f7f7;
}
.blog-section h1 {
  font-size: 30px;
  line-height: 1.3;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0 0 30px;
  border-bottom: 6px solid #ddd;
}
.breadcrumb-section {
  padding: 25px 0;
}
p#breadcrumbs {
  margin: 0;
  line-height: 1;
  font-size: 15px;
  color: #666;
  font-weight: normal;
}
p#breadcrumbs a {
  color: #22293f;
  text-decoration: none;
}


.blog-content-area {
  float: left;
  width: 855px;
}
.blog-sidebar {
  float: right;
  width: 285px;
}
.blog-content-area .single-post-section {
  background-color: #fff;
  padding: 25px 5%;
}
.single-post-section h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0 0 15px;
}
.single-post-section p.post-overview {
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
  margin: 0 0 30px;
  font-family: 'Lora', serif;
}
.single-post-section p,
.single-post-section ul li,
.single-post-section ol li {
  font-family: 'Lora', serif;
  font-size: 16px;
  line-height: 1.5;
}
.single-post-section ul li,
.single-post-section ol li {
  margin: 0 0 10px;
}
.single-post-section .post-content {
  padding-right: 80px;
}
.single-post-section b,
.single-post-section strong {
  font-weight: 700;
}
.single-post-section a,
.single-post-section a:visited {
  color: #0082cb;
  text-decoration: underline;
}
.single-post-section a:hover,
.single-post-section a:visited:hover {
  color: #005687;
}
.single-post-section h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 20px;
    line-height: 1.5;
}
.single-post-section h3 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
    margin: 0 0 15px;
}
.single-post-section h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px;
}
.single-post-section img {
  max-width: 100%;
  margin: 0 0 25px;
  display: block;
}
.post-content a {
  color: #0082cb;
  font-weight: normal;
}


/* WP Classes */
.alignnone {
  margin: 5px 0 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
  text-align: center;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 0 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  width: 100%;
  max-width: 100%;
  background-color: #f7f7f7;
  padding: 5px 5px 10px;
  text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  margin: 0;
  padding: 10px;
  font-size: 13px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/* END: WP Classes */

.breadcrumb-section {
  padding: 30px 0 27px;
}
.blog-widget h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  padding: 0 0 15px;
  border-bottom: 4px solid #005687;
  margin: 0 0 15px;
}
.sidebar-posts {
  margin: 0;
  list-style: none;
}
.sidebar-posts li {}
.sidebar-posts li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #22293f;
  font-weight: 600;
  padding: 8px;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
.sidebar-posts li a:before,
.sidebar-posts li a:after{
  content: " ";
  display: table;
}
.sidebar-posts li a img {
  float: left;
  width: 80px;
  height: 80px;
  max-width: 80px;
  margin-right: 15px;
  vertical-align: middle;
}
.sidebar-posts li a span {}
.sidebar-posts li a:hover {
  background-color: #f0f0f0;
}

.blog-cats-mobile-menu {
  margin: 0 -15px;
  display: none;
}
.blog-cats-mobile-menu a {
  background-color: #e0e0e0;
  display: block;
  padding: 10px 25px;
  color: #22293f;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
}
.blog-cats-mobile-menu a > span {
  float: right;
  margin-right: 22px;
  font-size: 22px;
  line-height: 24px;
}
@media(max-width: 1279px) {
  .blog-content-area {
    width: 680px;
  }
}
@media(max-width: 1023px) {
  .blog-content-area {
    width: 100%;
    float: none;
  }
  .blog-sidebar {
    float: none;
    width: 100%;
    padding: 30px 0;
  }
  .sidebar-posts li {
    float: left;
    width: 50%;
    min-height: 112px;
  }
  .sidebar-posts li a span {
    float: left;
    width: 150px;
  }
  .single-post-section .post-content {
    padding-right: 0;
  }
  .blog-cats-mobile-menu {
    display: block;
  }
  .blog-menu ul {
    display: none;
  }
  .blog-menu ul > li {
    float: none;
    width: 100%;
    text-align: left;
  }
  .blog-menu ul > li > a {
    padding: 15px 25px;
    font-size: 16px;
    font-weight: normal;
  }
  .blog-menu ul > li > a > span {
    display: none;
  }
}
@media(max-width: 767px) {
  .sidebar-posts li {
    float: none;
    width: 100%;
  }
}

/*
Blog slider
---------------------------*/
.blog-slider-container {
  padding: 0 0 50px;
}
.blog-carousel-outer {
    position: relative;
}
#blog-slider{
	background: #fff;
	list-style-type: none;
	margin: 0;
}
#blog-slider li{
  background: #fff;
  position: relative;
}
#blog-slider li .featured-blog-img-container {
  float: left;
  width: 855px;
}
#blog-slider li .featured-blog-data-container {
  float: right;
  width: 315px;
  position: relative;
  padding: 40px 35px;
}
#blog-slider li .featured-blog-cat-name p{
	margin-bottom: 0;
}
#blog-slider li .featured-blog-cat-name p a{
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 24px;
  font-weight: bold;
  font-size: 12px;
  color: #7F7F7F;
  padding-bottom: 10px;
  text-decoration: none;
}
#blog-slider li .featured-blog-title > h2 {
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  margin: 0 0 20px;
}
#blog-slider li .featured-blog-title > h2 a {
  color: #22293f;
  text-decoration: none;
}
#blog-slider li .featured-blog-short-content{}
#blog-slider li .featured-blog-short-content p{
	margin: 0px;
}
.blog-carousel-outer .post-count{
	position: absolute;
  right: 20%;
  bottom: 13px;
  z-index: 300;
  font-size: 14px;
  font-weight: 500;
}
.blog-carousel-outer .owl-controls {
  display: none;
  position: absolute;
  right: 0;
  bottom: 25px;
  z-index: 200;
  width: 100%;
  max-width: 315px;
  padding: 0 20px;
}
.blog-carousel-outer .owl-controls .next,
.blog-carousel-outer .owl-controls .prev {
  float: left;
  cursor: pointer;
  font-size: 30px;
  line-height: 1;
}
span.slide-numbers {
  font-size: 15px;
  line-height: 32px;
  margin-left: 10px;
  font-weight: normal;
  float: left;
}
/*
Blog posts grid
---------------------------*/
.blogpost-items-container {
  padding: 0 0 50px;
}
.blogpost-items {
  margin: 0 -15px;
}
.blogpost-item {
  float: left;
  width: 33.333333%;
  padding: 0 15px;
  margin: 0 0 30px;

}
.blogpost-item-inner {
  background-color: #fff;
  padding: 0 0 25px;
  min-height: 402px;
  max-width: 370px;
  margin: 0 auto;
}
.blogpost-img { border-bottom: 6px solid #22293f; }
.blogpost-item.blog-lightblue-color .blogpost-img { border-color: #0082cb }
.blogpost-item.blog-red-color .blogpost-img { border-color: #f55735 }
.blogpost-item.blog-blue-color .blogpost-img { border-color: #005687 }
.blogpost-item.blog-green-color .blogpost-img { border-color: #019e59 }
.blogpost-item.blog-orange-color .blogpost-img { border-color: #fea61a }

.blogpost-item > a {
  display: block;
}
.blogpost-item a:hover {
  opacity: 0.8;
}
.blogpost-item img {
  max-width: 100%;
  display: block;
}
.blogpost-item h3 {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  max-height: 66px;
  overflow: hidden;
}
.blogpost-item h3 a {
  color: #22293f;
  text-decoration: none;
}
.blogpost-item p {
  margin: 0;
  padding: 0 15px;
  font-size: 13px;
  line-height: 24px;
  max-height: 96px;
  overflow: hidden;
}
.blog-pagination {
  padding: 20px 0 0;
  text-align: center;
}
.blog-pagination a {
    background-color: #019e59;
    color: #fff;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    margin: 10px 5px 0 5px;
    border-radius: 25px;
    min-width: 50px;
}
.blog-pagination a.prev,
.blog-pagination a.next {
  /*min-width: 130px;*/
}
.blog-pagination a:hover {
    opacity: 0.8;
}

@media(max-width: 1279px) {
  #blog-slider li .featured-blog-img-container {
    width: 678px;
  }
  #blog-slider li .featured-blog-title > h2 {
    font-size: 22px;
    line-height: 1.3;
  }
  #blog-slider li .featured-blog-short-content p {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media(max-width: 1023px) {
  #blog-slider li .featured-blog-img-container,
  #blog-slider li .featured-blog-data-container {
    float: none;
    width: 100%;
  }
  #blog-slider li .featured-blog-data-container {
      padding: 20px 20px 60px 20px;
  }
  .blog-carousel-outer .owl-controls {
    max-width: 100%;
    bottom: 10px;
    text-align: center;
  }
  span.slide-numbers {
    float: right;
  }
  /*.blog-carousel-outer .owl-controls .next,
  .blog-carousel-outer .owl-controls .prev,
  span.slide-numbers {
    float: none;
    display: inline-block;
  }*/
  .blogpost-item {
    width: 50%;
  }
}
@media(max-width: 767px) {
  .blog-section h1 {
    padding: 10px 0;
  }
  .blog-pagination a.page-numbers {
    display: none;
  }
  .blog-pagination a.page-numbers.next,
  .blog-pagination a.page-numbers.prev {
    display: inline-block;
  }
  .blog-section .container {
    padding-left: 0;
    padding-right: 0;
  }
  .blog-cats-mobile-menu a > span {
    margin-right: 0;
  }
  .blog-sidebar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .post-activity-tags strong {
    display: block !important;
  }
}
@media(max-width: 567px) {
  .blogpost-item {
    width: 100%;
    float: none;
  }
}

/*
Blog post activity tags
---------------------------*/
.post-activity-tags {
    padding: 15px 0;
    font-size: 18px;
}
.post-activity-tags strong {
  margin-bottom: 10px;
  display: inline-block;
  line-height: 34px;
  vertical-align: middle;
}
.post-activity-tags span {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    margin-bottom: 10px;
}
.post-activity-tags span a {
    display: block;
    line-height: 34px;
    padding: 0 15px;
    font-size: 16px;
    text-decoration: none !important;
    background-color: #019e59;
    color: #fff !important;
}
.post-activity-tags span a:hover {
  opacity: 0.7;
}
/*
Blog posts Related
---------------------------*/
section.featured-blog-section.tif-section {
  padding: 60px 0;
  background-color: #f7f7f7;
}
section.featured-blog-section.tif-section h3.related-heading {
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    padding: 0 0 15px;
    border-bottom: 4px solid #005687;
    margin: 0 0 15px;
}
.featured-blog {
    background: #fff;
}
@media(max-width: 1023px) {
  section.featured-blog-section.tif-section {
    padding: 25px 0;
  }
}