.blog-post-section .filters label{
	display: inline-block;
	margin: 10px 1%;
	font-size: 18px;
	font-weight: 500;
}
.blog-post-section .filters select{
    border: solid 2px #eee;
    border-radius: 3px;
    padding: 0px 20px;
    text-decoration: none;
    color: #0082cb;
    font-size: 16px;
    margin: 0px 1%;
    display: inline-block;
    background: transparent;
    webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}
.blog-post-section .filters select::first-letter {
	text-transform: uppercase;
}
.blog-post-section .filters select:hover{
	opacity: 0.8;
	border: solid 2px #0082cb;
}
.featured-blog {
	border: none;
    background: #fff;
}
.featured-blog h3.featured-blog-name {
	height: auto;
    font-size: 14px;
    font-weight: bold;
    color: #2C2C2D;
}
.featured-blog h3.featured-blog-name a{
    text-decoration: none;
}
.featured-blog .featured-blog-description p {
	height: auto;
    font-size: 12px;
    color: #423F3F;
}
.featured-blog .featured-blog-category p span a{
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    color: #7F7F7F;
}
.featured-blog-section{
    background: #F4F4F4;
    padding-top: 15px;
}
#filters-buttons{
    background: #fff;
    margin-bottom: 15px;
    margin-top: -15px;
    padding: 10px 0px;
}
.featured-blog-col{

}
.featured-blog-cols {

}
.featured-blog-col .featured-blog .img-container.one a img {
    border-color: #fea61a;
}
.featured-blog-col .featured-blog .img-container.two a img {
    border-color: #005687;
}
.featured-blog-col .featured-blog .img-container.three a img {
    border-color: #f55735;
}
.featured-blog-col .featured-blog .img-container.four a img {
    border-color: #0082cb;
}
.featured-blog-col .featured-blog .img-container.five a img {
    border-color: #019e59;
}

.featured-blog-col .featured-blog .img-container a img {
    min-height: 180px;
    width: 100%;
    display: block;
    border-bottom-width: 10px;
    border-bottom-style: solid;
}


/* Single Post Styles */
.tif-section.single-page{
    background: #F4F4F4;
    padding-bottom: 0px;
}
.single-post-section{
    display: inline-block;
    width: 74%;
    vertical-align: top;
    padding: 0px;

}
.single-post-section .container{
    background:#fff;
    padding: 30px 10% 50px;
}
.single-post-section .title{
    font-size: 30px;
    color: #000;
    font-weight: 500;
}
.single-post-section .content{
}
.single-post-section  .post-content h3 {
    font-size: 14px;
}
.single-post-section  .post-content h2 {
    font-size: 20px;
}
.single-post-section  .post-content p {
    font-size: 14px;
}
.sidebar-main{
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-left: 0%;
    max-width: 270px;
    float: right;
}
.sidebar-main h3.heading{
    font-size: 20px;
    font-weight: 600;
    border-bottom-width: 5px;
    border-style: solid;
    border-color: #00549E;
    margin-bottom: 20px;
}
.sidebar-main ul{
    margin: 0px;
    list-style-type: none;
}
.sidebar-main ul li{
    margin: 10px 0px;
    padding: 5px;
}
.sidebar-main ul .post-title{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.sidebar-main ul .post-title span{
    font-size: 10px;
    font-weight: 600;
    font-family: "sans";
}
.sidebar-main ul .post-title h4{
    font-size: 14px;
    font-weight: 500;
}
.sidebar-main ul .post-img{
    display: inline-block;
    vertical-align: top;
    max-width: 100px;
    width: 45%;
}
.sidebar-main ul .post-img img{
    width: 80px;
    height: 80px;
}


.ad-blocks{
    margin-top:20px;
}
.ad-blocks ul{

}
.ad-blocks ul li ,.ad-block{
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 35px;
    background: #ccc;
    margin: 20px 0px;
}
.ad-blocks ul li div{

}
.ad-blocks ul li div h5,li.ad-block div h5{
    font-size: 20px;
    font-weight: 600;
}


/* Responsive Style */

@media all and (max-width: 1023px){
    .single-post-section{
        width: 65%;
    }
    .sidebar-main{
        width: 33%;
        margin-left: 1%;
        max-width: initial;
        float: none;
    }
    #blog-slider li .featured-blog-img-container {
        max-width: 55%;
    }
    #blog-slider li .featured-blog-data-container {
        max-width: 37%;
        padding-right: 0px;
    }
    #blog-slider li .featured-blog-title a h2 {
        font-size: 20px;
    }
}

@media all and (max-width: 767px){
    .blog-slider-section {
        padding: 10px 0px 0px;
    }
    .featured-blog-section {
       padding: 15px 0px;
   }
    #cats-menu .filters ul li {
        width: 60%;
        float: none;
        margin: 0 auto;
    }
    #blog-slider li .featured-blog-img-container {
        max-width: 100%;
        display: block;
    }
    #blog-slider li .featured-blog-img-container img {
        min-height: 200px;
    }
    #blog-slider li .featured-blog-data-container {
        max-width: 100%;
        display: block;
        padding: 10px 10px 60px;
    }
    .blog-carousel-outer .post-count {
        right: 15%;
    }
    .blog-carousel-outer .owl-controls {
        right: 35%;
    }
    .single-post-section{
        width: 100%;
        display: block;
    }
    .tif-section.single-page {
        padding: 10px;
    }
    .sidebar-main{
        margin-left: 0%;
        margin-top: 20px;
        width: 100%;
        display: block;
    }
    .sidebar-main h3.heading{
        text-align: center;
    }
}
