section.contact-us-message {
    padding: 30px 0;
    text-align: center;
    font-size: 18px;
}
input.tc_standard_field,
#tc_message {
	background-color: #fff;
	width: 100%;
}
input.tc_form_submit {
    line-height: 38px;
    border-radius: 25px;
}
div.wpcf7-validation-errors {
    max-width: 580px;
    text-align: center;
    border-color: #fea61a;
}
span.wpcf7-not-valid-tip {
    font-size: 13px;
    line-height: 1;
    margin: 10px 0 0;
}
div.wpcf7-mail-sent-ok {
    max-width: 580px;
    text-align: center;
    border-color: #019e59;
}
/*
Contact us Form
---------------------------------------*/
.contactus_form{
	position:relative;
}
.contactus_form .contactus_bg_img{
	position: absolute;
	left: 0;
	z-index: -1;
	bottom: -100px;
}
.contactus_form_left,.contactus_form_right{
	float:left;
}
.contactus_form_left{
	width:35%;
	/*background-color:#c3cf21;*/
}
.contactus_form_right{
	width:65%;
	background-color: #f7f7f7;
	padding-top:50px;
	padding-bottom:60px;
	padding-left:60px;
}
.contactus_form_left address{
	text-align: left;
	float: right;
	margin: 0;
	font-style: normal;
	padding-top: 50px;
	padding-bottom: 120px;
	padding-right: 40px;
}
.contactus_form_left address .contact_info{
	padding-top: 10px;
}
.contactus_form_right form{

}
.contactus_form_right .contactus_form_row{
	display:block;
	width:100%;
	margin-bottom: 15px;
}
.contactus_form_right label{
	font-weight: 500;
}
.contactus_form_right .contactus_form_row .contactus_form_col{
	float:left;
	width: 280px;
	margin-right: 20px;
}
.tc_textarea_outer, .tc_form_submit_outer{
	width:580px;
}
.tc_standard_field{
	height: 47px;
	border-radius: 5px !important;
}
.tc_textarea_outer textarea{
	border-radius: 5px !important;
}
.tc_form_submit_outer{
	text-align:center;
	margin-top: 30px;
	margin-bottom: 55px;
}
.tc_form_submit {
    line-height: 42px;
    border-radius: 25px;
    border: none;
    background-color: #019e59;
    color: #fff;
    text-align: center;
    webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    min-width: 200px;
    font-weight: 500;
    letter-spacing: 0.05em;
}
.tc_form_submit:hover {
	opacity: 0.8;
}
.tc_form_submit img {
	display: none;
}
.tc_form_submit[disabled=disabled] img,
.tc_form_submit:disabled img {
	display: inline-block;
}
.tc_form_check_box_group{}
.tc_form_check_box_group label{
	display: inline-block;
	width: 45%;
	vertical-align: top;
}
.tc_form_check_box_group input{}
@media(min-width: 1024px) {
	.contactus_form_right .contactus_form_first_row .contactus_form_col{
		float: none;
	    width: 580px;
	    margin-right: 0;
	}
	.contactus_form_right .contactus_form_second_row .contactus_form_col{
		float: none;
	    width: 380px;
	    margin-right: 0;
	}
}
@media(max-width: 1023px) {

	.contactus_form_right {
		padding-top: 15px;
		padding-bottom: 40px;
		padding-left: 40px;
		padding-right: 40px;
	}
	.contactus_form_right .contactus_form_row .contactus_form_col {
		float: none;
		width: 100%;
		margin-right: 0px;
	}
	.contactus_form_right .contactus_form_row {
		margin-bottom: 0px;
	}
	.contactus_form_row p{
		display:none;
	}
	.tc_textarea_outer{
		width:100%;
	}
	.contactus_form {
		max-width: 100%;
		overflow: hidden;
	}
	.contactus_form_left address {
		padding-right: 10px;
	}

}

@media(max-width: 767px) {

	.contactus_form_left {
		width: 100%;
	}
	.contactus_form_left address {
		float: none;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-right: 35px;
		padding-left: 35px;
	}
	.contactus_form_right {
		padding-top: 35px;
		padding-bottom: 35px;
		padding-left: 35px;
		padding-right: 35px;
		width: 100%;
	}


}
@media(max-width: 767px) {

}

@media(max-width: 567px) {

	.contactus_hero_header h1 {
		font-size: 46px;
	}
	.hero-content p {
		padding-left:10px;
		padding-right:10px;
	}
	.contactus_top_copy {
		padding-top: 35px;
		padding-bottom: 35px;
		width: 100%;
	}
	.contactus_form_left address {
		padding-top: 35px;
		padding-bottom: 35px;
		padding-right: 10px;
		padding-left: 10px;
		text-align: center;
	}
	.tc_form_submit_outer {
		width: 100%;
	}
	input[type="submit"]{
		width:100%;
	}
	.contactus_form_right {
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}

}

#contact-form label.error {
    color: #f55735 !important;
    font-weight: 300;
    font-size: 13px;
}
div.tc_form_field_response {
	max-width: 580px;
	border: 1px solid #398f14;
	padding: 15px;
	text-align: center;
}
.form-ajax-loader {
	text-align: center;
}

.checkbox_area{
	display: inline-block;
    width: 47%;
    vertical-align: top;
    margin: 5px 0px;
}
.checkbox_area label{
    display: inline-block;
    width: 75%;
    vertical-align: top;
    margin-left: 10px;
}

.checkbox_groups label.checkbox_inner{
	cursor: pointer;
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: 1px;
    left: 2px;
    top: 2px;
    /* -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1); */
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    /* box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1); */
    background: -webkit-linear-gradient(top, #fff 0%, #ffffff 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}
.checkbox_groups input[type=checkbox]{
	visibility: hidden;
}
div.checkbox_groups{
	display: inline-block;
    vertical-align: top;
	border-radius: 4px;
    width: 15px;
    height: 15px;
    background: #fcfff4;
    /* background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); */
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    margin: 5px auto;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: relative;
}

.checkbox_groups input[type=checkbox]:checked + label.checkbox_inner:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.checkbox_group label.checkbox_inner:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.checkbox_groups label.checkbox_inner:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 8px;
    height: 5px;
    background: transparent;
    top: 2px;
    left: 1px;
    right: 0;
    border: 2px solid #000000;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
@media(max-width: 767px) {
	.checkbox_area:last-child {
		width: 100%;
	}
}
