/*
** Hero
------------------------*/
.hero-section {
	background-image: url(../images/templates/home/hero.jpg);
}
/*.hero-content-outer {
    color: #fff;
}
.hero-content-inner {
    padding: 0;
    background:  none;
}
.hero-content-inner a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border: solid thin #fff;
    border-radius: 19px;
    max-width: 160px;
    margin: 30px auto 0px;
    padding: 3px 0px;
}
.hero-content-inner a:hover {
    opacity: 0.8;
}
*/
.tif-section h2 {
    text-align: center;
    margin: 0 0 50px;
}

/*
** Attraction Type section
------------------------*/
.attraction-section{
    background-color: #f7f7f7;
}
.home-carousel-outer {
    height: 321px;
    position: relative;
}
.home-carousel {
    margin: 0;
    padding: 0 50px;
    list-style: none;
}
.owl-carousel .owl-wrapper {
    z-index: 99;
}
.home-carousel .img-container {
    display: block;
    max-width: 225px;
    margin: 5px auto;
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
    position: relative;
    border-radius: 4px;
}
.home-carousel .img-container .img-overlay-text {
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    display: block;
    line-height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding: 10px 20px;
    width: 100%;
}
.home-carousel .img-container .img-overlay-text:after {
    content: '';
    width: 55px;
    height: 5px;
    background: #fff; /*#ff8500;*/
    display: block;
    margin: 10px 0 0;
}
.home-carousel .img-container:hover {
    opacity: 0.75;
}

.home-carousel-outer div.owl-controls {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
    height: 40px;
    padding: 0;
}
.home-carousel-outer div.owl-controls div {
    width: 44px;
    height: 44px;
    background: rgba(0,0,0,0.2);
    border-radius: 100%;
    text-align: center;
    line-height: 44px;
    font-size: 22px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: #fff;
    cursor: pointer;
}
.home-carousel-outer div.owl-controls .next {
    float: right;
}
.home-carousel-outer div.owl-controls .prev {
    float: left;
}
.home-carousel-outer div.owl-controls div:hover {
    background: rgba(0,0,0,0.5);
}

@media all and (max-width: 1023px){
	.hero-inner h1 {
	    font-size: 50px;
	}
	.hero-inner p{
	    font-size: 18px;
	}
	section h2 {
		font-size: 25px;
	}
}

@media all and (max-width: 767px){
	.hero-inner h1 {
	    font-size: 40px;
	}
	.hero-inner p{
	    font-size: 16px;
	}
	section h2 {
		font-size: 22px;
	}
}

@media all and (max-width: 567px){
	/*.hero-inner h1 {
	    font-size: 28px;
	}*/
	/*.hero-inner p{
	    font-size: 13px;
	}*/
  .home-carousel {
      padding: 0 30px;
  }
  .home-carousel-outer div.owl-controls div {
      width: 32px;
      height: 32px;
      font-size: 18px;
      line-height: 32px;
  }
  .home-carousel-outer div.owl-controls .next {
      margin-right: -10px;
  }
  .home-carousel-outer div.owl-controls .prev {
      margin-left: -10px;
  }
}

/*
** Hero overwrites
------------------------*/
.hero-section:after {
  background: rgba(0,0,0,0.8);
}
.hero-content {
  display: block;
  max-width: none;
  padding-top: 160px;
  padding-bottom: 80px;
}
.hero-content-outer {
  height: auto;
  display: block;
}
.hero-content-inner {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
.city-attractions {
  background-color: #fff;
}
.city-overview {
  /*background-color: #f7f7f7;*/
}
.tif-section h2 {
  border-bottom: 2px dashed #ccc;
  padding-bottom: 10px;
}
.hero-content p {
  margin: 15px 0 0;
}
@media (max-width: 767px) {
  .hero-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}


section.featured-blog-section.tif-section {
    background-color: #f7f7f7;
}
.featured-blog {
    background: #fff;
}