.tif-section h2 {
    margin: 0 0 50px;
}
.attraction-type-cols {
    margin: 0 -13px 0 -13px;
}
.attraction-type-col {
    float: left;
    width: 33.3333333%;
    padding: 0 13px 26px 13px;
}
.attraction-type-inner {
    background-color: #f7f7f7;
    padding: 0 0 15px;
    border-radius: 4px;
    overflow: hidden;
}
h3.attraction-type-name {
    padding: 15px;
    line-height: 20px;
}
h3.attraction-type-name > a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
h3.attraction-type-name > a:hover {
    opacity: 0.8;
    text-decoration: underline;
}
.attraction-type-desc {
    padding: 0 15px;
    font-size: 14px;
    line-height: 24px;
    height: 72px;
}
/*
** Hero overwrites
------------------------*/
.hero-section:after {
  background: rgba(0,0,0,0.8);
}
.hero-content {
  display: block;
  max-width: none;
  padding-top: 160px;
  padding-bottom: 80px;
}
.hero-content-outer {
  height: auto;
  display: block;
}
.hero-content-inner {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
.city-attractions {
  background-color: #fff;
}
.city-overview {
  /*background-color: #f7f7f7;*/
}
.tif-section h2 {
  border-bottom: 2px dashed #ccc;
  padding-bottom: 10px;
}
.hero-content p {
  margin: 15px 0 0;
}
@media (max-width: 767px) {
  .hero-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/*
** Featured blog section
------------------------*/
.featured-blog{
    background: #fff;
}
section.featured-blog-section.tif-section {
  background-color: #f7f7f7;
}
.load-more-blogs a {
    max-width: 243px;
}