/*
** .city-overview
------------------------*/
.city-overview h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0 0 25px;
}
.overview-left {
    float: left;
    width: 830px;
    padding: 0 30px 0 0;
}
.overview-right {
    float: right;
    width: 340px;
    padding: 0 0 10px 30px;
    border-left: 2px solid #dcdcdc;
}
.overview-text p {
    line-height: 1.9;
    margin: 0 0 22px;
}
.overview-text p:last-child {
    margin: 0;
}

.city-widget h3 {
    color: #666;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 15px;
}
.city-widget h3 > span {
    color: #fea61a;
    font-size: 24px;
    vertical-align: middle;
    display: inline-block;
}
.city-widget h3 > span:before {
    margin: 0 8px 0 0;
    width: auto;
}

.city-tempratures-dd {
    float: left;
    width: 140px;
}
.city-tempratures {
    float: left;
    font-size: 14px;
    line-height: 36px;
    padding: 0 0 0 15px;
}
.high-temperature,
.low-temperature {
    color: #0082cb;
}
.high-temperature {
    margin: 0 15px 0 0;
}
.high-temperature:after{
    content:"\00b0 \2002 F";
}
.low-temperature:after{
    content:"\00b0 \2002 F";
}
.overview-text h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 5px;
    color: #444;
}

/*
** Hero overwrites
------------------------*/
.single-things-to-do {}
.single-things-to-do .hero-section:after {
  background: rgba(0,0,0,0.8);
}
.single-things-to-do .hero-content {
  display: block;
  max-width: none;
  padding-top: 160px;
  padding-bottom: 80px;
}
.single-things-to-do .hero-content-outer {
  height: auto;
  display: block;
}
.single-things-to-do .hero-content-inner {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
.single-things-to-do .city-attractions {
  background-color: #fff;
}
.single-things-to-do .city-overview {
  /*background-color: #f7f7f7;*/
}
.single-things-to-do .tif-section h2 {
  border-bottom: 2px dashed #ccc;
  padding-bottom: 10px;
}
.single-things-to-do .hero-content p {
  margin: 15px 0 0;
  line-height: 1.5;
  font-family: 'Lora', serif;
}
@media (max-width: 767px) {
  .single-things-to-do .hero-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}
/*.overview-full-width.partial-overview {
  height: 200px;
  overflow: hidden;
  position: relative;
}
.overview-full-width.partial-overview:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 99;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.81) 35%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.81) 35%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.81) 35%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
.partial-overview-showmore {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  padding-top: 10px;
}
.partial-overview-showmore button {
  border: none;
  background: none;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-size: 16px;
  outline: none !important;
  font-weight: 500;
  color: #019e59;
}*/
/*
** Responsive
------------------------*/
@media screen and (max-width: 1279px) {
  .overview-left {
    width: 640px;
  }
}
@media screen and (max-width: 1023px) {
  .overview-left {
    float: none;
    width: 100%;
    padding: 0;
  }
  .overview-right {
    float: none;
    width: 100%;
    padding: 20px 0 20px 30px;
  }
  .city-tempratures {
    font-size: 16px;
  }
}
@media screen and (max-width: 567px) {
  .city-tempratures-dd {
    float: none;
    width: 100%;
  }
  .city-tempratures {
    float: none;
    width: 100%;
    margin: 20px 0 0;
    line-height: 1;
  }
  .overview-right {
    padding: 20px 30px;
    border-right: 2px solid #dcdcdc;
  }
}


/*
** Featured blog section
------------------------*/
.featured-blog{
    background: #fff;
}
section.featured-blog-section.tif-section {
  background-color: #f7f7f7;
}