/*
** Hero section
------------------------*/

.hero-content {
    max-width: 680px;
    margin: 0;
}
.hero-content.hero-content-full {
  max-width: 100%;
}
.hero-content-outer {
    text-align: left;
}
/*
** Info widget
------------------------*/

section.attraction-info-widget {
    position: relative;
}
.attraction-widget {
    position: absolute;
    color: #444;
    background: rgba(255, 255, 255, 0.9);
    height: 500px;
    width: 340px;
    top: -385px;
    right: 15px;
    border-radius: 10px 10px 0 0;
    z-index: 10;
}
.attraction-widget-top {
    min-height: 352px;
}
.weather-report {
    padding: 25px 15px 15px 20px;
    line-height: 65px;
    vertical-align: middle;
}
span.current-weather-icon {
    display: block;
    float: left;
    width: 110px;
    height: 60px;
    /* width: 195px; */
    /* height: 150px; */
    /* overflow: hidden; */
    /* position: relative; */
}
.weather-report-wait p {
    margin-bottom: 9px;
    margin-top: 30px;
    text-align: center;
}
.weather-report-wait .icon-spin {
    position: absolute;
    font-size: 30px;
    width: 40px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
}
span.current-temprature {
    margin-left: 10%;
    font-size: 65px;
    line-height: 55px;
    font-weight: 600;
    float: left;
    padding: 10px 0 0;
    color: #0082cb;
}
.weather-report.hot span.current-temprature {
    color: #f55735;
}
/*
.weather-report span.current-temprature.temp-celsius{
  display: none;
}
.weather-report span.temprature-units.temp-celsius{
  display: none;
}

.weather-report:hover span.current-temprature{
display: none;
}
.weather-report:hover span.current-temprature.temp-celsius{
display: inline-block;
}
.weather-report:hover span.temprature-units{
display: none;
}
.weather-report:hover span.temprature-units.temp-celsius{
display: inline-block;
text-transform: uppercase;
}*/

span.temprature-units {
    float: left;
    margin-left: 10px;
    font-size: 24px;
    line-height: 1;
    padding: 10px 0 0;
    font-weight: 600;
}
.timing-status {
    max-width: 310px;
    margin: 0 auto;
    background: #fff;
    color: #22293f;
    padding: 10px;
    line-height: 26px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
span.timing-bullet {
    margin: 0 5px;
}
span.open-today {
    color: #019e59;
}
span.close-today {
    color: #f55735;
}
span.timing-icon {
    display: inline-block;
    color: #fff;
    line-height: 18px;
    width: 18px;
    text-align: center;
    border-radius: 100%;
    font-size: 10px;
    vertical-align: middle;
    margin-right: 5px;
}
span.open-today span.timing-icon {
    background-color: #019e59;
}
span.close-today span.timing-icon {
    background-color: #f55735;
}
.attraction-address {
    padding: 22px 25px 17px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 600;
    color: #444;
}
.attraction-address-special {
  padding: 13px 0;
  display: inline-block;
}
span.address-icon {
    float: left;
    line-height: 48px;
    font-size: 42px;
    display: block;
    margin-right: 15px;
    color: #0082cb;
}
span.address-icon:before {
    width: auto;
    margin: 0;
}
.attraction-get-directions {
    padding: 0 15px 15px 15px;
}
.attraction-get-directions a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: #0082cb;
    font-size: 16px;
    display: block;
    line-height: 1;
    padding: 15px;
    border-radius: 25px;
    font-weight: 600;
    -webkit-transition: all 0.25s ease-in;
    /* Safari */

    transition: all 0.25s ease-in;
}
.attraction-get-directions a:hover {
    background: #f55735;
}
.attraction-phone-number {
    padding: 10px 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: 600;
    font-size: 18px;
}
.attraction-phone-number > span,
.attraction-website > span {
    float: left;
    line-height: 42px;
    font-size: 32px;
    display: block;
    margin-top: -8px;
    margin-right: 15px;
    color: #0082cb;
}
.attraction-website {
    padding: 15px 20px;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
}
.attraction-widget-devider {
    height: 33px;
    background-color: #0082cb;
}
.attraction-actions {
    background: #f55735;
    padding: 33px 0px;
    text-align: center;
}
.attraction-actions a {
    display: inline-block;
    width: 42%;
    background: #fff;
    padding: 12px 8px;
    border-radius: 30px;
    margin: 0px 1%;
    text-decoration: none;
    font-weight: 500;
    z-index: 300;
    position: relative;
    font-size: 14px;
    webkit-transition: all 0.25s ease-in;
    /* Safari */

    transition: all 0.25s ease-in;
}
.attraction-actions a:first-child {
    color: #019e59;
}
.attraction-actions a:last-child {
    color: #f55735;
}
.attraction-actions a:hover {
    opacity: 0.9;
}
/*
** Tabs
------------------------*/

.attraction-tabs {
    padding: 56px 0 29px 0;
}
.attraction-tabs ul {
    margin: 0;
    padding: 0 310px 0 0;
    list-style: none;
}
.attraction-tabs ul:after {
    content: "";
    display: table;
    clear: both;
}
.attraction-tabs ul > li {
    float: left;
    margin-right: 40px;
    line-height: 1;
    font-weight: 600;
}
.attraction-tabs ul > li:last-child {
    margin-right: 0;
}
.attraction-tabs ul > li > a {
    display: block;
    line-height: 1;
    padding: 0 10px 10px 10px;
    text-decoration: none;
    border-bottom: 3px solid #bdbdbd;
    color: #bdbdbd;
    position: relative;
    -webkit-transition: all 0.25s ease; /* Safari */
    transition: all 0.25s ease;
    min-width: 100px;
    text-align: center;
}
.attraction-tabs ul > li > a:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #019e5a transparent transparent transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    /* Safari */

    transition: all 0.25s ease;
}
.attraction-tabs ul > li.active > a,
.attraction-tabs ul > li > a:hover {
    color: #019e5a;
    border-color: #019e5a;
}
.attraction-tabs ul > li.active > a:after,
.attraction-tabs ul > li > a:hover:after {
    opacity: 1;
}
.tab-content .tab-pane {
    display: none;
}
.tab-content .tab-pane.active {
    display: block;
}
section.tab-content {
    border-top: 10px solid #019e59;
    position: relative;
    z-index: 101;
}
/*
** Overview
------------------------*/

.overview-tab {
    background-color: #f7f7f7;
}
.overview-tab h2 strong {
    font-weight: 600;
    color: #019e59;
}
.overview-tab p:last-child {
    margin: 0 0 0;
    font-size: 16px;
}
/*
** Amenities
------------------------*/

.amenities ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
.amenities ul li {
    display: block;
    width: 20%;
    text-align: center;
    float: left;
    vertical-align: top;
    position: relative;
    min-height: 120px;
    margin: 60px 0 0;
}
.amenities ul li:nth-child(-n+5) {
    margin: 0;
}
.amenities ul li img {
    display: block;
    margin: 0 auto;
}
.amenities ul li h3 {
    color: #fff;
    padding: 20px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 1;
    font-size: 18px;
    font-weight: 500;
}
/*
** Reviews
------------------------*/

.review-section {
    float: left;
    width: 75%;
    max-width: 875px;
    vertical-align: top;
}
.review-head {
    padding: 0 0 25px;
}
.review-head h2 {
    display: inline-block;
    margin: 0;
    line-height: 40px;
    float: left;
}
.review-head span.review-score {
    color: #fea61a;
    font-weight: 600;
    font-size: 28px;
    float: left;
    line-height: 40px;
    margin: 0 0 0 15px;
}
.review-head .rating {
    color: #ff8400;
    font-weight: bold;
    font-size: 25px;
    margin-left: 8px;
    float: left;
}
.review-head .rating .star {
    font-size: 36px;
    line-height: 40px;
    width: 33px;
    margin-right: 1px;
}
.review-head .total-reviews {
    color: #bdbdbd;
    font-weight: 600;
    font-size: 14px;
    float: left;
    line-height: 40px;
    margin: 0 0 0 10px;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    /* Safari */

    transition: all 0.25s ease;
}
.review-head .total-reviews:hover {
    color: #019e59;
}
.review-head a.write-review {
    color: #f55735;
    font-size: 15px;
    margin-right: 2%;
    display: inline-block;
    float: right;
    text-decoration: none;
    border: solid 1px #f55735;
    border-radius: 20px;
    padding: 0 30px;
    font-weight: 600;
    line-height: 38px;
    -webkit-transition: all 0.25s ease;
    /* Safari */

    transition: all 0.25s ease;
}
.review-head a.write-review:hover {
    opacity: 0.8;
}
.review-section ul {
    list-style: none;
    margin: 0;
    text-align: center;
}
.review-section ul.reviews li {
    display: inline-block;
    width: 95%;
    vertical-align: top;
    padding: 20px;
    margin: 0;
    background: #f7f7f7 url('../images/icons/reviews-bg.png') no-repeat;
    background-position: 95% -5px;
    text-align: left;
    min-height: 320px;
    float: left;
}
.review-section ul.reviews li div.review-author {
    margin: 50px 0px 10px;
}
.review-section ul.reviews li div.review-author h3 {
    color: #22293f;
    font-weight: 600;
    line-height: 1;
}
.review-section ul.reviews li div.review-author span {
    color: #7d7d7d;
    font-size: 14px;
    line-height: 0.5;
}
.review-section ul.reviews li div.review-para {} .review-section ul.reviews li div.review-para p {
    color: #22293f;
    font-size: 12px;
    line-height: 1.8;
    margin-bottom: 10px;
}
.review-section ul.reviews li .rating {
    display: block;
}
.review-section ul.reviews li .rating .star {
    font-size: 24px;
    width: 19px;
    margin-right: 2px;
}
.review-section .owl-controls {
    max-width: 75px;
    margin: 20px 0 0;
}
.review-section .owl-controls .next {
    float: right;
}
.review-section .owl-controls .prev {
    float: left;
}
.review-section .owl-controls div span {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    /* Safari */

    transition: all 0.25s ease;
}
.review-section .owl-controls div span:hover {
    color: #019e59;
}
.social-widget {
    display: inline-block;
    width: 23%;
    max-width: 260px;
    vertical-align: top;
    margin-top: 65px;
    background: #fea61a;
    padding: 15px 0px;
    text-align: center;
    min-height: 320px;
    float: right;
}
.social-widget h3 {
    color: #fff;
    font-weight: 600;
    padding: 10px 0px 0px;
    margin-bottom: 0px;
}
.social-widget ul {
    list-style: none;
    margin: 0;
}
.social-widget ul li {} .social-widget ul li a {
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    border: solid 2px #fff;
    width: 80%;
    display: block;
    margin: 15px auto;
    padding: 3px 0 3px 20px;
    text-align: justify;
    -webkit-transition: all 0.25s ease;
    /* Safari */

    transition: all 0.25s ease;
}
.social-widget ul li a:hover {
    opacity: 0.8;
}
.social-widget ul li a i {
    font-size: 18px;
}
.social-widget ul li a span {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    margin-left: 3%;
}
/*
** FAQs
------------------------*/

.faq {
    background: #f7f7f7;
}
.faq ul {
    list-style: none;
    margin: 0;
}
.faq ul li {
    padding: 20px 0px;
    border-bottom: #bdbdbd solid thin;
}
.faq ul li:first-child {
    border-top: #bdbdbd solid thin;
}
.faq ul li a h3 {
    color: #0082cb;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
}
.faq ul li a i {
    float: right;
    color: #888;
    margin-right: 10px;
}
.faq ul li .faq-para {
  display: none;
}
.faq ul li p {
    padding-top: 12px;
    margin-bottom: 0;
}
.faq ul li.faq-open a h3 {
    color: #22293f;
}
.faq-para ul,
.faq-para ol {
    padding: 0 0 0 20px;
    margin: 12px 0 0;
    list-style-type: disc;
}
.faq-para ol {
  list-style-type: decimal;
}
.faq-para ul li,
.faq-para ol li {
    border: none !important;
    padding: 0;
    margin: 0;
}
/*
** Rides
------------------------*/

.attraction-rides h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0 0 25px;
}
.attraction-rides-cols {
    margin: 40px -13px 0 -13px;
}
.attraction-rides-col {
    float: left;
    width: 25%;
    padding: 0 13px 26px 13px;
}
.attraction-ride {
    max-width: 273px;
    margin: 0 auto;
    background-color: #fff;
}
.attraction-ride-img > a {
    display: block;
    webkit-transition: opacity 0.25s ease-in;
    /* Safari */

    transition: opacity 0.25s ease-in;
}
.attraction-ride-img > a:hover {
    opacity: 0.75;
}
.attraction-ride-img > a > img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}
h3.attraction-ride-name {
    padding: 25px 15px;
    line-height: 1;
}
h3.attraction-ride-name > a {
    display: inline-block;
    line-height: 1;
    color: #22293f;
    text-decoration: none;
    font-weight: 600;
    webkit-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
h3.attraction-ride-name > a:hover {
    opacity: 0.75;
}
.attraction-ride-description {
    color: #22293f;
    padding: 0 15px;
    font-size: 13px;
    height: 175px;
    overflow: hidden;
    margin: 0 0 15px;
}
.attraction-ride-more-info {
    padding: 0 15px 15px 15px;
    text-align: center;
    line-height: 1;
}
.attraction-ride-more-info > a {
    display: block;
    max-width: 120px;
    padding: 8px;
    border-radius: 24px;
    border: 1px solid #fea61a;
    color: #fea61a;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    webkit-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
}
.attraction-ride-more-info > a:hover {
    opacity: 0.75;
}
.current-weather-icon img {
    position: absolute;
    clip: rect(0px, 170px, 130px, 0px);
    top: -12px;
    left: -5px;
}
.icon-0:before {
    content: ":";
}
.icon-1:before {
    content: "p";
}
.icon-2:before {
    content: "S";
}
.icon-3:before {
    content: "Q";
}
.icon-4:before {
    content: "S";
}
.icon-5:before {
    content: "W";
}
.icon-6:before {
    content: "W";
}
.icon-7:before {
    content: "W";
}
.icon-8:before {
    content: "W";
}
.icon-9:before {
    content: "I";
}
.icon-10:before {
    content: "W";
}
.icon-11:before {
    content: "I";
}
.icon-12:before {
    content: "I";
}
.icon-13:before {
    content: "I";
}
.icon-14:before {
    content: "I";
}
.icon-15:before {
    content: "W";
}
.icon-16:before {
    content: "I";
}
.icon-17:before {
    content: "W";
}
.icon-18:before {
    content: "U";
}
.icon-19:before {
    content: "Z";
}
.icon-20:before {
    content: "Z";
}
.icon-21:before {
    content: "Z";
}
.icon-22:before {
    content: "Z";
}
.icon-23:before {
    content: "Z";
}
.icon-24:before {
    content: "E";
}
.icon-25:before {
    content: "E";
}
.icon-26:before {
    content: "3";
}
.icon-27:before {
    content: "a";
}
.icon-28:before {
    content: "A";
}
.icon-29:before {
    content: "a";
}
.icon-30:before {
    content: "A";
}
.icon-31:before {
    content: "6";
}
.icon-32:before {
    content: "1";
}
.icon-33:before {
    content: "6";
}
.icon-34:before {
    content: "1";
}
.icon-35:before {
    content: "W";
}
.icon-36:before {
    content: "1";
}
.icon-37:before {
    content: "S";
}
.icon-38:before {
    content: "S";
}
.icon-39:before {
    content: "S";
}
.icon-40:before {
    content: "M";
}
.icon-41:before {
    content: "W";
}
.icon-42:before {
    content: "I";
}
.icon-43:before {
    content: "W";
}
.icon-44:before {
    content: "a";
}
.icon-45:before {
    content: "S";
}
.icon-46:before {
    content: "U";
}
.icon-47:before {
    content: "S";
}
/*
** Responsive
------------------------*/

.tab-expand-mobile {
    display: none;
}
@media screen and (max-width: 1279px) {
    .attraction-rides-col {
        width: 33.33333%;
    }
    .hero-content {
      max-width: 620px;
    }
}
@media screen and (max-width: 1023px) {
    .hero-content {
        max-width: none;
    }
    .hero-content-outer {
        text-align: center;
    }
    .attraction-widget {
        position: relative;
        height: auto;
        margin: 0 auto;
        top: 0;
    }
    .attraction-tabs ul {
        padding: 0;
    }
    .amenities ul li {
        width: 25%;
    }
    .amenities ul li:nth-child(5) {
        margin: 60px 0 0;
    }
    .review-section {
        float: none;
        width: 100%;
        max-width: none;
    }
    .social-widget {
        margin: 30px auto 0 auto;
        width: 100%;
        max-width: 320px;
        float: none;
        display: block;
        clear: both;
    }
    .attraction-rides-col {
        width: 50%;
    }
}
@media screen and (max-width: 767px) {
    .attraction-widget {
      width: 100%;
      max-width: 340px;
      margin: 0 auto;
      position: relative;
      left: 0;
      right: 0;
    }
    section.tab-content {
        border: none;
    }
    .attraction-tabs {
        display: none;
    }
    .tab-expand-mobile {
        display: block;
    }
    .tab-expand-mobile > a {
        background: #019e59;
        display: block;
        width: 100%;
        line-height: 1;
        color: #fff;
        padding: 15px;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        font-weight: 600;
    }
    .review-section ul.reviews li {
        min-height: 0;
    }
    .review-head a.write-review {
        float: none;
        margin: 20px 0 0;
    }
    .amenities ul li {
        width: 33.33333%;
    }
    .amenities ul li:nth-child(4) {
        margin: 60px 0 0;
    }
}
@media screen and (max-width: 567px) {
    .amenities ul li {
        width: 50%;
    }
    .amenities ul li:nth-child(3) {
        margin: 60px 0 0;
    }
    .review-head .rating {
        margin-left: 0;
        display: block;
    }
    .attraction-rides-col {
        float: none;
        width: 100%;
    }
}
