.breadcrumb-section {
    padding: 10px 0;
    background-color: #eee;
}
.breadcrumb-section ol > li {
    font-size: 12px;
}
section.attraction-details {
    background-color: #f7f7f7;
    padding: 32px 0;
}
.attractions-left {
    float: left;
    width: 300px;
}
.attractions-right {
    float: right;
    width: 840px;
}
.attractions-left-inner {
    background-color: #fff;
    padding: 25px 5%;
}
.tourist-attraction h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0 0 15px;
    padding-bottom: 10px;
    border-bottom: 6px solid #ddd;
}
.tourist-attraction .attraction-intro {
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
    margin: 0 0 0;
    font-family: 'Lora', serif;
}
.tourist-attraction .overview-info {
    margin: 30px 0 0;
}

/*
** .attraction-nav
-----------------*/
.attraction-nav {}
.attraction-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ccc;
}
.attraction-nav.fixed-attraction-nav {
    position: fixed;
    width: 300px;
    top: 0;
}
.attraction-nav ul li {
    border-bottom: 1px solid #ccc;
}
.attraction-nav ul li a {
    display: block;
    line-height: 1;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #ddd;
    font-size: 14px;
    color: #22293f;
    font-weight: 600;
    letter-spacing: 0.05em;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}
.attraction-nav ul li a.active, 
.attraction-nav ul li a:hover {
    color: #fff;
    background-color: #019e59;
}
/*
** .attractions-infobox
-----------------*/
.attractions-infobox {
    background-color: #fff;
    padding: 20px;
    margin: 35px 0 0;
}
.attractions-infobox.featured-blog-section .featured-blog-col {
    min-width: 33.33333333%;
}
.attraction-pictures.attractions-infobox {
    padding: 10px;
}
.attractions-infobox .infobox-header {
    margin: 0 0 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid #ddd;
}
.attractions-infobox .infobox-header h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    float: left;
    max-width: 60%;
}
.attractions-infobox .infobox-header h2.full-width-h2 {
    max-width: none;
    float: none;
}
.attractions-infobox .infobox-header h2 span {
    color: #019e59;
}
.info-header-right {
    float: right;
    max-width: 40%;
}
.infobox-content h3 {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    margin: 0 0 5px;
}
.infobox-content p,
.infobox-content ul,
.infobox-content ol {
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 1.5;
}
.infobox-content p:last-child {
    margin-bottom: 0;
}

/*
** hours-list
-----------------*/
ul.hours-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.hours-list li {
    line-height: 1;
    font-size: 14px;
    border-bottom: 1px dashed #ddd;
}
ul.hours-list li.hours-list-head {
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}
ul.hours-list li span {
    display: block;
    float: left;
    padding: 15px;
}
ul.hours-list li span.dayname {
    width: 50%;
}
ul.hours-list li span.opentime,
ul.hours-list li span.closetime {
    width: 25%;
    text-align: right;
}

span.open-today {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 34px;
    display: inline-block;
}
span.timing-icon {
    display: inline-block;
    color: #fff;
    line-height: 26px;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 100%;
    margin-right: 5px;
    font-size: 14px;
}
span.open-today span.timing-icon {
    background-color: #019e59;
}

/*
** .faq-question-item
-----------------*/
.faq-question-item {
    margin: 0 0 25px;
}
.faq-question-item:last-child {
    margin-bottom: 0;
}
.faq-question-item h3.faq-question {
    font-family: 'Lora', serif;
    font-size: 17px;
    line-height: 1.5;
    font-weight: bold;
    margin: 0 0 5px;
}
.faq-question-item .faq-answer {}


/*
** .attraction-map
-----------------*/
.attraction-map {
    min-height: 300px;
}

/*
** address
-----------------*/
.attraction-address {
    float: left;
    width: 50%;
}
span.address-icon.icon-location {
    float: left;
    font-size: 48px;
    line-height: 50px;
    padding-right: 10px;
    color: #019e59;
}
span.address-icon.icon-location:before {
    margin: 0;
}
span.attraction-address-text {
    line-height: 20px;
    font-size: 14px;
    padding: 6px 0;
    font-weight: 600;
}
.attraction-other-details {
    float: left;
    width: 50%;
}
.attraction-phone,
.attraction-website {
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
}
span.attraction-phone-icon,
span.attraction-website-icon {
    color: #0082cb;
    font-size: 20px;
    vertical-align: middle;
}

.attraction-text a, 
.attraction-text a:visited {
    color: #0082cb;
    text-decoration: underline;
}
.attraction-text a:hover, 
.attraction-text a:visited:hover {
    color: #005687;
}

.photo-credit {
    font-size: 12px;
    padding: 10px;
    line-height: 1;
    color: #777;
}

.hours-list-div ul {
    margin-bottom: 0;
}
.hours-list-div ul li {
    margin: 0 0 10px;
}

/*
Ads
--------------------*/
.attraction-left-ad {
    margin: 30px 0 0;
}

@media screen and (max-width: 1279px) {
    .attractions-right {
        width: 770px;
    }
    .attractions-left,
    .attraction-nav.fixed-attraction-nav {
        width: 210px;
    }
}
@media screen and (max-width: 1023px) {
    .attractions-left {
        float: none;
        width: 100%;
        display: none;
        margin: 0 0 20px;
    }
    .attractions-right {
        float: none;
        width: 100%;
    }
    .attraction-left-ad,
    .attraction-left-ad .adsbygoogle {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .attraction-address {
        float: none;
        width: 100%;
        margin: 0 0 20px;
    }
    .attraction-other-details {
        float: none;
        width: 100%;
    }
    .attraction-phone {
        margin: 0 0 20px;
    }
    span.attraction-phone-icon, 
    span.attraction-website-icon {
        font-size: 34px;
        width: 48px;
        padding-right: 10px;
    }
    ul.hours-list li span.dayname {
        width: 40%;
    }
    ul.hours-list li span.opentime, 
    ul.hours-list li span.closetime {
        width: 30%;
    }
    .attractions-infobox .infobox-header h2 {
        display: block;
        float: none;
        max-width: none;
    }
    .info-header-right {
        float: none;
        max-width: none;
        margin: 10px 0;
    }
}
/*#owl-demo {
    padding: 10px;
    background-color: #fff;
    margin-top: 35px;
}
#owl-demo .item img,
#owl-demo-thumbs .item img{
    display: block;
    width: 100%;
    height: auto;
}
.owl-nav .owl-next, .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 22px);
}
.owl-nav .owl-prev {
    left: 15px;
}
.owl-nav .owl-next {
    right: 15px;
}
.owl-nav .owl-next,
.owl-nav .owl-prev{
    width: 44px;
    height: 44px;
    background: rgba(0,0,0,0.2);
    border-radius: 100%;
    text-align: center;
    line-height: 44px;
    font-size: 22px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: #fff;
    cursor: pointer;
}
.owl-buttons .owl-next:hover,
.owl-buttons .owl-prev:hover {
    background: rgba(0,0,0,0.5);
}
#owl-demo1 .owl-item ,
#owl-demo2 .owl-item {
  cursor: pointer;
}*/
/*#owl-demo {
    padding: 10px;
    background-color: #fff;
    margin-top: 35px;
}
#owl-demo .item img,
#owl-demo-thumbs .item img{
    display: block;
    width: 100%;
    height: auto;
}
.owl-nav .owl-next,
.owl-nav .owl-prev{
    position: absolute;
    top: calc(50% - 22px);
    width: 44px;
    height: 44px;
    background: rgba(0,0,0,0.2);
    border-radius: 100%;
    text-align: center;
    line-height: 44px;
    font-size: 22px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: #fff;
    cursor: pointer;
}
.owl-nav .owl-prev {
    left: 15px;
}
.owl-nav .owl-next {
    right: 15px;
}*/
#slider{
    margin-top: 35px;
    margin-bottom: -4px;
}
#slider .flex-direction-nav .flex-prev,
#slider .flex-direction-nav .flex-next,
#slider-thumbs .flex-direction-nav .flex-prev,
#slider-thumbs .flex-direction-nav .flex-next{
    opacity: 1 !important;
}
#slider .flex-direction-nav .flex-next,
#slider-thumbs .flex-direction-nav .flex-next{
    right: 10px !important;
}
#slider .flex-direction-nav .flex-prev,
#slider-thumbs .flex-direction-nav .flex-prev{
    left: 10px !important;
}
#slider .flex-direction-nav .flex-disabled,
#slider-thumbs .flex-direction-nav .flex-disabled {
    opacity: 1!important;
    cursor: pointer !important;
    z-index: 9 !important;
}
#slider .flex-direction-nav a,
#slider-thumbs .flex-direction-nav a{
    width: 44px;
    height: 44px;
    background: rgba(0,0,0,0.2);
    border-radius: 100%;
    text-align: center;
    line-height: 44px;
    font-size: 22px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: #fff;
    cursor: pointer;
}
#slider:hover .flex-direction-nav a,
#slider-thumbs:hover .flex-direction-nav a{
    background: rgba(0,0,0,0.5);
}
#slider .flex-direction-nav a:before,
#slider-thumbs .flex-direction-nav a:before{
    display: none;
}
#slider-thumbs ul.slides li img{
    cursor: pointer;
}